// $black: #232323;
$black: #70544f;
// $background: #ffd977;
$background: #2f2f2f;
$gray-line: #f6f6f6;
// $orange: #fe5f1e;
// $orange: #e44739;
$orange: #50a684;


$container-width: 90%;

$duration: 0.3s;
